.card-container {
    display: flex;
    width: 30%;
    min-width: 324px;
    border: 2px solid var(--color-border-primary);
    border-radius: 8px;
    padding: 3rem 1.25rem;
    max-height: 216px;
    position: relative;
    overflow: hidden;
}

.card-container--img {
    height: 100px;
    cursor: pointer;
}

.card-container--info {
    padding-left: 3rem;
    line-height: 1.6;
}

.star-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.data--change-text {
    font-size: smaller;
    padding-left: inherit;
    align-self: end;
}
